<% title "Todos" %>

<div id="status"></div>

<div id="todos">
<% for todo in @todos %>    
  <%= render todo %>
<% end %>
</div>

<p><%= link_to "New Todo", new_todo_path %></p>

<div id="newTodo">
<% form_for Todo.new do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
</div>