<% title "Todos" %>

<div id="status"></div>

<div id="todos">
<% for todo in @todos %>    
  <%= render todo %>
<% end %>
</div>

<% if current_user -%>
<div id="newTodo">
  <h2>New Item</h2>
  <% form_for Todo.new do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>
<% end -%>